@font-face {
  font-family: "2097";
  src: url("../fonts/2097.ttf") format("truetype");
}

#root,
.world {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 100%;
}

.start {
  position: fixed;
  background-color: black;
  width: 200px;
  height: 120px;
  display: flex;
  place-content: center;
  place-items: center;
  position: fixed;
  inset: 50%;
  translate: -50% -50%;
}
